﻿
@{
    ViewBag.Title = "Create";
}


<link href="~/DesktopModules/MVC/NewsConfigurationModule/StyleSheet/datepicker.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/desktopmodules/mvc/NewsConfigurationModule/StyleSheet/prettify.css" />
<link href="~/DesktopModules/MVC/NewsConfigurationModule/StyleSheet/bootstrap-wysihtml5.css" rel="stylesheet" />
<link href="~/desktopmodules/mvc/NewsConfigurationModule/StyleSheet/wysiwyg-color.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <h3>Crear Noticia</h3>
        <br />
        <br />
    </div>
</div>

<div class="alert alert-info" role="alert" id="div_alert_create">
    <i class='fa fa-info-circle' id="icon_create"></i> <span id="txt_mensaje_create"></span>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Regresar a Noticias", "Index", "News", new { }, new { @class = "btn btn-primary", @style = "color:#FFF" })
        <br />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="idNews" value="0" />
        <div class="col-md-6">
            <div class="form-group">
                <label>Titulo</label>
                <input type="text" class="form-control" id="title" maxlength="40" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha de Vigencia</label>
                <input type="text" class="form-control datepicker" id="lifeDate" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Descripción Corta</label>
                <textarea id="shortDescription" name="shortDescription" class="form-control" style="height:100px" maxlength="250"></textarea>
                <span class="text-danger" id="shortDescripcion_message"></span>
                <span class="text-info"></span>
            </div>

        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Descripción Larga</label>
                <textarea class="form-control" id="longDescription" style="height:300px" maxlength="1500" name="longDescription"></textarea>
                <span class="text-danger" id="longDescripcion_message"></span>
                <span class="text-info"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Adjunto</label>
                <input type="file" id="attached" />
                <textarea rows="10" style="width: 98%;display:none;" class="" id="contentFile"></textarea>
            </div>
            <div class="form-group">
                <input type="button" value="Guardar" id="btn_createNews" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
</div>

<script>
    var urlIndex = '@Url.Action("Index", "News")';
</script>


<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/datepicker.js"></script>
<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/site.js"></script>

<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/wysihtml5-0.3.0.js"></script>
<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/prettify.js"></script>
<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/bootstrap-wysihtml5.js"></script>

<script src="~/desktopmodules/mvc/NewsConfigurationModule/Scripts/wysihtml5/parser_rules/advanced.js"></script>
<script src="~/desktopmodules/mvc/NewsConfigurationModule/Scripts/wysihtml5/parser_rules/simple.js"></script>

<script>
    $(function () {

        $('#longDescription').wysihtml5({
            events: {
                blur: function () {
                    var maxlen = parseInt($("#longDescription").attr('maxlength'));
                    var length = $("#longDescription").val().replace(/<[^>]*>?/g, '').length;
                    if (length <= maxlen) {
                        $("#longDescripcion_message").removeClass("text-danger").addClass("text-info");
                        $("#longDescripcion_message").html("Caracteres encontrados " + length);
                    }
                    else {
                        $("#longDescripcion_message").removeClass("text-info").addClass("text-danger");
                        $("#longDescripcion_message").html("<b>Caracteres encontrados " + length + ", caracteres aceptados son " + maxlen + " solamente</b>");
                    }
                }
            }
        });

        $('#shortDescription').wysihtml5({
            events: {
                blur: function () {
                    var maxlen = parseInt($("#shortDescription").attr('maxlength'));
                    var length = $("#shortDescription").val().replace(/<[^>]*>?/g, '').length;
                    if (length <= maxlen) {
                        $("#shortDescripcion_message").html("Caracteres encontrados " + length);
                        $("#shortDescripcion_message").removeClass("text-danger").addClass("text-info");
                    }
                    else {
                        $("#shortDescripcion_message").removeClass("text-info").addClass("text-danger");
                        $("#shortDescripcion_message").html("<b>Caracteres encontrados " + length + ", caracteres aceptados son " + maxlen + " solamente </b>");
                    }
                }
            }
        });
    })
</script>