﻿
@{
    /**/

    ViewBag.Title = "Edit";
}

<link href="~/DesktopModules/MVC/NewsConfigurationModule/StyleSheet/datepicker.css" rel="stylesheet" />

<link href="~/desktopmodules/mvc/NewsConfigurationModule/StyleSheet/prettify.css" />
<link href="~/DesktopModules/MVC/NewsConfigurationModule/StyleSheet/bootstrap-wysihtml5.css" rel="stylesheet" />
<link href="~/desktopmodules/mvc/NewsConfigurationModule/StyleSheet/wysiwyg-color.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <h3>Editar Noticia</h3>
        <br />
        <br />
    </div>
</div>

<div class="alert alert-info" role="alert" id="div_alert_edit">
    <i class='fa fa-info-circle' id="icon_edit"></i> <span id="txt_mensaje_edit"></span>
</div>


<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Regresar a Noticias", "Index", "News", new { }, new { @class = "btn btn-primary", @style = "color:#FFF" })
        <br />
        <br />
    </div>
</div>

@if (!(bool)ViewBag.HasData)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="idNews" value="@ViewBag.News.IdNews" />
            <input type="hidden" id="titleOld" value="@ViewBag.News.Title" />
            <div class="col-md-6">
                <div class="form-group">
                    <label>Titulo</label>
                    <input type="text" class="form-control" id="title" value="@ViewBag.News.Title" max="40" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha de Vigencia</label>
                    @{
                        var date = ((string)ViewBag.News.LifeDate).Split(' ')[0];
                        var lifeDate = date[2] + "/" + date[0] + "/" + date[1];
                    }
                    <input type="text" class="form-control datepicker" id="lifeDate" value="@date" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Descripción Corta</label>
                    <textarea id="shortDescription" class="form-control" style="height:100px" maxlength="250">@ViewBag.News.ShortDescription</textarea>
                    <span class="text-danger" id="shortDescripcion_message"></span>
                    <span class="text-info"></span>
                </div> 
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>Descripción Larga</label>
                    <textarea class="form-control" id="longDescription" style="height:300px" maxlength="1500">@ViewBag.News.LongDescription</textarea>
                    <span class="text-danger" id="longDescripcion_message"></span>
                    <span class="text-info"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Adjunto</label>
                    <input type="file" id="attached" />
                    <textarea rows="10" style="width: 98%;display:none;" class="" id="contentFile"></textarea>
                </div>
                <div class="form-group">
                    <input type="button" value="Guardar" id="btn_editNews" class="btn btn-success btn-block" />
                </div>
            </div>
            @{
                var HasFile = (ViewBag.News.HasFile) ? 1 : 0;
            }
            <input type="hidden" id="hasFile" value="@HasFile" />
            @if (ViewBag.News.HasFile)
            {
                <div class="col-md-6">
                    <input type="hidden" id="pathFile" value="@ViewBag.News.PathFile" />
                    <h4>Imagen Actual</h4>
                    <div class="col-md-12">
                        <center>
                            <img src="@ViewBag.News.PathFile" class="img-responsive img-thumbnail" />
                        </center>
                    </div>
                </div>
            }
            <div class="col-md-12">

            </div>
        </div>
    </div>
}


<script>
    var urlIndex = '@Url.Action("Index", "News")';
</script>

<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/datepicker.js"></script>
<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/site.js"></script>

<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/wysihtml5-0.3.0.js"></script>
<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/prettify.js"></script>
<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/bootstrap-wysihtml5.js"></script>


<script>
    $(function () {
        $('#longDescription').wysihtml5({
            events: {
                blur: function () {
                    var maxlen = parseInt($("#longDescription").attr('maxlength'));
                    var length = $("#longDescription").val().replace(/<[^>]*>?/g, '').length;
                    if (length > maxlen) {
                        $("#longDescripcion_message").removeClass("text-info").addClass("text-danger");
                        $("#longDescripcion_message").html("<b>Caracteres encontrados " + length + ", caracteres aceptados son " + maxlen + " solamente</b>");
                    }
                    else {
                        $("#longDescripcion_message").removeClass("text-danger").addClass("text-info");
                        $("#longDescripcion_message").html("Caracteres encontrados " + length);
                    }
                }
            }
        });

        $('#shortDescription').wysihtml5({
            events: {
                blur: function () {
                    var maxlen = parseInt($("#shortDescription").attr('maxlength'));
                    var length = $("#shortDescription").val().replace(/<[^>]*>?/g, '').length;
                    if (length > maxlen) {
                        $("#shortDescripcion_message").removeClass("text-info").addClass("text-danger");
                        $("#shortDescripcion_message").html("<b>Caracteres encontrados " + length + ", caracteres aceptados son " + maxlen + " solamente </b>");
                    }
                    else {
                        $("#shortDescripcion_message").html("Caracteres encontrados " + length);
                        $("#shortDescripcion_message").removeClass("text-danger").addClass("text-info");
                    }
                }
            }
        });
    })
</script>
