﻿
@{
    ViewBag.Title = "Index";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/DesktopModules/MVC/NewsConfigurationModule/StyleSheet/datepicker.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<div class="row">
    <div class="col-md-12">
        <a href="http://www.tasisoft.com/tasinet2/Portals/0/Repositorios/Manuales_Usuario/Manual%20de%20Usuario%20-%20Modulo%20Noticias%20DNN.pdf" target="_blank">
            <i class="fa fa-download fa-3x"></i> Descargar Manual de Usuario
        </a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Crear Nueva Noticia", "Create", "News", new { }, new { @class = "btn btn-success", @style = "color:#FFF" })
        <br />
        <br />

        <div class="alert alert-info" role="alert" id="div_alert_delete">
            <i class='fa fa-info-circle' id="icon_delete"></i> <span id="txt_mensaje_delete"></span>
        </div>

        <table id="tbl_News" class="display datatable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Titulo</th>
                    @*<th>Descripción corta</th>*@
                    <th>Fecha Vigencia</th>
                    <th>Fecha Creación</th>
                    <th>Tiene Imagen</th>
                    <th>Estatus</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @if ((bool)ViewBag.HasData)
                {
                    foreach (var i in ViewBag.lstNews)
                    {
                        <tr>
                            <td>@i.Title</td>
                            @*<td>@i.ShortDescription</td>*@
                            <td>
                                @{
                                    var lifeDate = i.LifeDate.Split(' ')[0];
                                }
                                <p>@lifeDate</p>
                            </td>
                            <td>@i.CreatedDate.ToString("dd/MM/yyyy hh:mm tt")</td>
                            <td>
                                @{
                                    var hasFile = (i.HasFile) ? "Si" : "NO";
                                }
                                <p>@hasFile</p>
                            </td>
                            <td>
                                @{
                                    var style = (i.Status == "Caducado") ? "lifeDate" : "text-success bg-success";
                                }
                                <p class="@style">@i.Status</p>
                            </td>
                            <td>@Html.ActionLink("Editar", "Edit", "News", new { id = @i.IdNews }, new { @class = "btn btn-primary", @style = "color:#FFF" })</td>
                            <td><button type="button" onclick="DeleteNewsById(@i.IdNews)" class="btn btn-danger">Eliminar</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/datepicker.js"></script>
<script src="~/DesktopModules/MVC/NewsConfigurationModule/Scripts/site.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script>
    LoadTable();
</script>