﻿
@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="~/DesktopModules/MVC/NewsModule/StyleSheet/site.css" rel="stylesheet" type="text/css" />
@*<script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>*@
<script src="~/DesktopModules/MVC/NewsModule/Scripts/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>


@if (!(bool)ViewBag.IsSuccess)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="glyphicon glyphicon-list-alt"></span><b>Noticias</b>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="news-ticker-images" id="lstNews">
                                                @foreach (var i in ViewBag.lstNews)
                                                    {
                                                        <li class="news-item">
                                                            <table cellpadding="4">
                                                                <tr>
                                                                    <td><b>@i.Title</b> - @i.CreatedDate.ToString("dd/MM/yyyy")</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><h6 style="text-align:justify;">@Html.Raw(i.ShortDescription)</h6></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <button type="button" onclick="SeeNews(@i.IdNews);" class="btn btn-primary">
                                                                            Ver Más
                                                                            <i class="fas fa-eye"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </li>
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="glyphicon glyphicon-list-alt"></span><b>Descripción</b>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <table cellpadding="4">
                                                    <tr>
                                                        <td><h2 class="h3" id="title"></h2></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6 style="text-align:justify;" id="longDescription"></h6></td>
                                                    </tr>
                                                </table>
                                                <br />
                                                <div class="imageNews"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script src="~/DesktopModules/MVC/NewsModule/Scripts/main.js"></script>
<script type="text/javascript">
    var idNews=@ViewBag.Id;
    $(function () {
        $(".news-ticker-images").bootstrapNews({
            newsPerPage: 4,
            autoplay: true,
            pauseOnHover: true,
            direction: 'up',
            newsTickerInterval: 2000,
            onToDo: function () {
            }
        });


    });
</script>




